@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Poppins&display=swap");

html{
overflow-x: hidden;
overflow-y: scroll;
}

body{
  background-color: #2f2f2f;
  color:white;
  text-align: center;
}
.homepage-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2% 5%;
  text-align: left;
}

header {
  text-align: center;
  margin-bottom: 2%;
}

.about-section, .education-section, .sports-section, .skills-section {
  background-color: #000a13;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.skills-section ul {
  list-style-type: none;
  padding-left: 0;
}

.skills-section li {
  margin-bottom: 5px;
}

footer p {
  font-style: italic;
  color: #777;
}

.tabs-image {
  position: absolute;
  top: 0%;
  padding:2%;
  right: 10%;
  transform: translateY(-50%);
  width: 50px; /* Adjust size as needed */
  height: auto;
}

.tabs {
  background-color: #707070;
  display: flex;
  justify-content: center;
  padding: 2%;
}

.tab-btn,.tab-btn_active{
  background-color: #ffffff;
  border: none;
  color: #a80000;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  margin: 0 5px;
  outline: none;
}

.tab-btn_active {
  color: #fff;
  background-color: #a80000;
}

.content {
  margin-top: 20px;
}

.about-content,
.projects-content {
  display: none;
}

.about-content.show,
.projects-content.show {
  display: block;
}

.row {
  margin-bottom: 20px;
}


.text {
  text-align: left;
  margin-bottom: 20px;
}


.projects-content h4,
.about-content h4 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin-bottom: 10px;
}

.projects-content p,
.about-content p {
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 1.6;
}

.projects-content ul,
.about-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.projects-content .row,
.about-content .row {
  align-items: center;
}

.projects-content .row .title,
.about-content .row .title {
  margin-bottom: 10px;
}

.project_description,.project_description_1,.project_description_2{
  border-radius: 10vh;
  padding: 5% 5%;
  margin: '2% 5%';
  background-color: #000a13;
  box-shadow:  5px 5px 10px 10px solid #ffffff;
  text-align: left;
} 
.project_description>p,.project_description>h4{
  text-align: left;
}
.project_description_1{
  background-color: #003763;
}
/*Footer*/
.footer{
  text-align: center;
  color:white;
  border-top: 7px solid white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 1%;
  width:100%;
  height:120%;
  background-color: rgb(141, 141, 141);
  }
  
  .frame{
      margin: auto;
      margin-bottom: 1%;
      margin-top: 1%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 80px;
      width: 350px;
      position: relative;
    }
    
    .btn{
      height: 35px;
      width: 35px;
      border-radius: 3px;
      background: #e0e5ec;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-tap-highlight-color: transparent;
    }
    .btn:hover{
      background-color: aqua;
    }